---
layout: default
title: Contact Us - Athlete A BJJ
---

<main>
  <section class="py-16 bg-gray-100">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl font-bold text-center mb-12">Contact Us</h1>
      <div class="flex flex-col md:flex-row justify-between items-start">
        <div class="w-full md:w-1/2 mb-8 md:mb-0 md:pr-8">
          <h2 class="text-2xl font-bold mb-4">Get in Touch</h2>
          <p class="mb-6">Have questions about our classes or want to start your BJJ journey? Reach out to us!</p>
          <div class="space-y-4">
            <div class="flex items-center">
              <i class="fas fa-map-marker-alt text-red-600 mr-4 text-2xl"></i>
              <span>45b Strandville Ave, N Strand Rd, North Wall, Dublin, D03 N8H0</span>
            </div>
            <div class="flex items-center">
              <i class="fas fa-phone text-red-600 mr-4 text-2xl"></i>
              <span>(089) 988-5691</span>
            </div>
          </div>
          <div class="mt-8">
            <h3 class="text-xl font-bold mb-4">
              Follow Us On
              <a href="https://www.instagram.com/athlete_a_bjj/" class="text-gray-600 hover:text-red-600">
                <i class="fab fa-instagram text-2xl"></i>
              </a>
            </h3>
          </div>
        </div>
        <div class="w-full md:w-1/2">
          <h2 class="text-2xl font-bold mb-4">Where to Find Us</h2>
          <div class="aspect-w-16 aspect-h-9">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.2248025639783!2d-6.2408259!3d53.3571316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670f558d0bab7b%3A0x96817aee9d3b1eb9!2sAthlete%20A%20Brazilian%20Jiu%20Jitsu!5e0!3m2!1sen!2sie!4v1727537087915!5m2!1sen!2sie"
              width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-16 bg-red-600 text-white">
    <div class="container mx-auto px-4 text-center">
      <h2 class="text-3xl font-bold mb-8">Ready to Start Your BJJ Journey?</h2>
      <p class="text-xl mb-8 max-w-2xl mx-auto">Join Athlete A BJJ today and experience the transformative power of
        Brazilian Jiu-Jitsu. Our expert instructors and supportive community are here to guide you every step of the
        way.</p>
      <a href="https://wa.me/+353899885691?text=Hello%20I%27d%20like%20to%20book%20a%20trial%20class"
        class="bg-yellow-400 hover:bg-yellow-500 text-black text-lg px-8 py-3 rounded-full font-bold transition duration-300">
        Get in touch now!
      </a>
    </div>
  </section>
</main>